absl-py==2.1.0
accelerate @ git+https://github.com/huggingface/accelerate.git@a702364256ebc94477e0bc33c77615aaf35e0413
adam_atan2==0.0.3
aiodns==3.2.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.11
aiohttp-client-cache==0.11.1
aiosignal==1.3.1
aiosqlite==0.20.0
airportsdata==20250224
amqp==5.0.9
annotated-types==0.7.0
anthropic==0.57.1
antlr4-python3-runtime==4.9.3
anyio==4.8.0
anyjson==0.3.3
appdirs==1.4.4
APScheduler==3.11.0
argdantic==1.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astroid==3.3.5
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.5
async-timeout==4.0.3
asyncio==3.4.3
asyncpg==0.29.0
atlastk==0.13.3
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
azure-ai-documentintelligence==1.0.0b4
azure-core==1.32.0
azure-identity==1.21.0
azure-servicebus==7.13.0
azure-storage-blob==12.22.0
babel==2.17.0
backoff==2.2.1
backtrader==1.9.78.123
base58==2.1.1
beautifulsoup4==4.13.4
billiard==3.6.4.0
bitsandbytes==0.45.3
bleach==6.2.0
blinker==1.8.2
blis==0.7.11
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.7.1
catalogue==2.0.10
cattrs==25.1.1
ccxt==4.3.20
celery==5.2.3
cerebras_cloud_sdk==1.26.0
certifi==2024.8.30
cffi==1.16.0
channels==4.2.2
chardet==4.0.0
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cloudpathlib==0.21.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
command-not-found==0.3
confection==0.1.5
constantly==23.10.4
construct==2.10.68
construct-typing==0.6.2
contourpy==1.2.1
coolname==2.2.0
courlan==1.3.2
cryptography==45.0.4
cssselect==1.3.0
cssselect2==0.8.0
curl_adapter==1.1.0
curl_cffi==0.11.3
cycler==0.12.1
cymem==2.0.11
daphne==4.2.0
dash==3.0.1
datasets==3.4.0
dateparser==1.2.1
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
deepdiff==8.5.0
defusedxml==0.8.0rc2
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-database-url==3.0.0
Django==4.2.6
django-cors-headers==4.3.0
django-filter==25.1
django-storages==1.14.6
django-webpack-loader==3.1.1
djangorestframework==3.15.2
dlib==19.24.6
einops==0.8.1
ephem==4.1.3
et-xmlfile==1.1.0
eval7==0.1.10
exceptiongroup==1.2.1
executing==2.0.1
fake-useragent==2.1.0
fastapi==0.115.11
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
Flask==3.0.0
Flask-Cors==4.0.1
flatbuffers==25.2.10
fonttools==4.51.0
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.12.0
future==1.0.0
gast==0.6.0
genson==1.3.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-api-python-client==2.174.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-genai==1.24.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gradio==5.15.0
gradio_client==1.7.0
greenlet==1.1.2
groovy==0.1.2
groq==0.28.0
grpcio==1.73.1
grpcio-status==1.71.2
grpcio-tools==1.73.1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
h5py==3.13.0
hmmlearn==0.3.3
hpack==4.0.0
html5lib==1.1
htmldate==1.9.3
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.3
hydra-core==1.3.2
Hypercorn==0.17.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.6.1
incremental==24.7.2
inscriptis==2.6.0
interegular==0.3.3
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.7
iso3166==2.1.1
iso8601==1.1.0
isodate==0.7.2
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.9.0
joblib==1.4.2
json5==0.12.0
jsonalias==0.1.1
jsonpatch==1.33
jsonpickle==4.0.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
jusText==3.0.2
keras==2.14.0
keyring==23.5.0
kiwisolver==1.4.5
kombu==5.2.3
langchain==0.3.25
langchain-anthropic==0.3.17
langchain-core==0.3.68
langchain-google-genai==2.1.6
langchain-groq==0.3.2
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith==0.3.45
language_data==1.3.0
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lib==4.0.0
libclang==18.1.1
lightgbm==4.3.0
litellm==1.65.1
llvmlite==0.44.0
logger==1.4
lxml==5.4.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.6.0
mdurl==0.1.2
mistune==3.1.3
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
mpmath==1.3.0
msal==1.32.0
msal-extensions==1.3.1
msgpack==1.0.3
multidict==6.0.5
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.12
mypy-extensions==1.0.0
narwhals==1.32.0
nba_api==1.9.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.1
notebook==7.4.2
notebook_shim==0.2.4
nulltype==2.3.1
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.0
omegaconf==2.3.0
openai==1.93.2
openbb==4.4.4
openbb-benzinga==1.4.1
openbb-bls==1.1.2
openbb-cftc==1.1.1
openbb-commodity==1.3.1
openbb-core==1.4.7
openbb-crypto==1.4.1
openbb-currency==1.4.1
openbb-derivatives==1.4.1
openbb-econdb==1.3.1
openbb-economy==1.4.2
openbb-equity==1.4.1
openbb-etf==1.4.1
openbb-federal-reserve==1.4.3
openbb-fixedincome==1.4.3
openbb-fmp==1.4.2
openbb-fred==1.4.4
openbb-imf==1.1.1
openbb-index==1.4.1
openbb-intrinio==1.4.1
openbb-news==1.4.1
openbb-oecd==1.4.1
openbb-platform-api==1.1.10
openbb-polygon==1.4.1
openbb-regulators==1.4.2
openbb-sec==1.4.3
openbb-tiingo==1.4.1
openbb-tradingeconomics==1.4.1
openbb-us-eia==1.1.1
openbb-yfinance==1.4.6
opencv-python==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
orderly-set==5.4.1
orjson==3.10.15
outcome==1.3.0.post0
outlines==0.2.3
outlines_core==0.1.26
overrides==7.7.0
packaging==24.0
pandas==2.1.1
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
passlib==1.7.4
patsy==0.5.6
pdf2image==1.17.0
peewee==3.17.5
peft @ git+https://github.com/huggingface/peft.git@2f063e6342235842a00bca150a98854b89117986
pexpect==4.9.0
phonenumbers==8.13.55
pillow==10.3.0
pipenv==2024.0.1
pipfile==0.0.2
plaid-python==27.0.0
platformdirs==4.3.6
plotly==6.0.1
polygon-api-client==1.14.6
posthog==3.25.0
preshed==3.0.9
presidio_analyzer==2.2.358
presidio_anonymizer==2.2.358
priority==2.0.0
prometheus_client==0.21.1
prompt-toolkit==3.0.43
propcache==0.3.2
prosperity2bt==0.9.4
prosperity3bt==0.7.1
proto-plus==1.26.1
protobuf==6.31.1
psutil==5.9.8
psycopg2==2.9.7
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
py-ball==1.42
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pybind11==2.13.6
pycares==4.4.0
pycoingecko==3.2.0
pycparser==2.22
pycurl==7.45.6
pydantic==2.7.4
pydantic-settings==2.8.1
pydantic_core==2.18.4
pydot==3.0.4
pydub==0.25.1
pyee==11.1.1
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyGObject==3.42.1
pygraphviz==1.11
PyJWT==2.10.1
pylint==3.3.2
PyMsgBox==1.0.9
pynvim==0.4.2
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyperclip==1.9.0
pypika-tortoise==0.1.6
pyppeteer==2.0.0
pyquery==2.0.1
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-dotenv==1.0.0
python-json-logger==3.3.0
python-memcached==1.58
python-multipart==0.0.20
python3-xlib==0.15
pytweening==1.2.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.0.3
QuantStats==0.0.62
Quart==0.19.6
quart-cors==0.7.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
requests-file==2.1.0
requests-html==0.10.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.24.0
rsa==4.9.1
ruff==0.7.4
safehttpx==0.1.6
safetensors==0.5.3
sbrscrape==0.0.10
scikit-learn==1.3.1
scipy==1.13.0
SCons==4.0.1
seaborn==0.13.2
SecretStorage==3.3.1
selenium==4.21.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.34.1
service-identity==24.2.0
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
solana==0.36.7
solders==0.26.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.41
sqlparse==0.5.1
srsly==2.5.1
sse-starlette==2.2.1
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.46.1
statsmodels==0.14.2
stripe==12.0.0
sympy==1.13.1
systemd-python==234
tabulate==0.9.0
taskgroup==0.0.0a4
tenacity==8.5.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado==0.18.1
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.4.0
tld==0.13.1
tldextract==5.1.3
tokenizers==0.21.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
torch==2.5.1
tornado==6.4
tortoise-orm==0.21.3
tqdm==4.66.1
trafilatura==2.0.0
traitlets==5.14.3
transformers==4.49.0
trio==0.25.1
trio-websocket==0.11.1
triton==3.1.0
tweepy==4.16.0
Twisted==25.5.0
txaio==25.6.1
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.2.0
url-normalize==1.4.3
urllib3==1.26.20
uuid7==0.1.0
uvicorn==0.34.3
vine==5.0.0
virtualenv==20.27.0
w3lib==2.3.1
wadllib==1.3.6
wandb==0.21.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.0.3
widgetsnbextension==4.0.14
wrapt==1.14.1
wsproto==1.2.0
xgboost==2.0.0
xlrd==2.0.1
xmltodict==0.13.0
xxhash==3.5.0
yarl==1.20.1
yfinance==0.2.58
z3-solver==4.14.1.0
zeep==4.2.1
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
